body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh
}

h1 {
	max-width: 30rem;
	font-size: 150%;
}

button {
	padding: 1em 2em;
	background-color: hsl(240deg 50% 50%);
	color: white;
	border-radius: 0.5em;
	border-style: none;
	transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
	button:hover,
	button:focus {
		background-color: hsl(240deg 60% 60%);
	}

	button:active {
		background-color: hsl(240deg 70% 70%);
	}
